.profile-i{
    
    justify-content: center;
    align-items: center;
    margin: 1% !important;
    padding: 1%;
    box-shadow: 0 4px 2px -2px rgba(232, 232, 232, 0.744);

}

.profile-i img{
   width: 70px;
   border-radius: 50px;
   margin: 1%;
   
}
.profile-i p{
    line-height: 1px;
}
.profile-i p:nth-child(2){
    color: rgb(136, 136, 136);
}

.user-list{
    
}
.user-list a{
    color:white;
    background:#0E8388;
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    margin-top: 2px;
    
}



